.container
  // width: 1024px
  max-width: 100%
  margin: 0 auto
  box-sizing: border-box

@media (min-width: 768px)
  .row
    white-space: nowrap

  [class^="column-"], [class*=" column-"]
    display: inline-block
    padding: 0 .5rem
    box-sizing: border-box
    vertical-align: top
    white-space: normal

  .column-3
    width: 25%

  .column-4
    width: 33%

  .column-8
    width: 66%

  .column-9
    width: 75%
