.footer
  position: absolute
  left: 0
  right: 0
  bottom: 0
  color: black
  background: white
  padding: 2rem 1rem

  &__author
    font-family: monospace
    line-height: 0.9

    &__line
      text-align: left
