.header
  position: relative
  color: white
  background: #f8f8f8

  &__content
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 2.5%

    @media (min-width: 768px)
      padding-top: 5%

  &__logo
    display: inline-block
    padding: 1rem
    font-family: monospace
    font-weight: normal
    line-height: 0.9
    vertical-align: middle

    &__line
      text-align: left

  &__link
    display: inline-block
    padding: 1rem
    line-height: 0
    opacity: .75

    &__image
      width: 1.5rem
