@import '../vendor/normalize'

@import 'landing'
@import 'layout'
@import 'header'
@import 'footer'
@import 'sidebar'
@import 'lightbox'

.container
  width: 90%
  margin: 0 auto
  box-sizing: border-box

  @media (min-width: 768px)
    width: 80%

[class^="column-"], [class*=" column-"]
  padding: 0 1rem

@media (min-width: 768px)
  .row
    white-space: nowrap

  [class^="column-"], [class*=" column-"]
    display: inline-block
    box-sizing: border-box
    vertical-align: top
    white-space: normal

  .column-small
    width: 30%

  .column-big
    width: 70%

.projects,
.work,
.tech
  padding: 0
  margin: 0
  font-size: 18px
  list-style: none

.projects
  &__link
    display: inline-block
    padding: .15rem 0

  &__excerpt
    opacity: .8

.project
  &__screenshot
    width: 100%
    cursor: pointer
    box-shadow: 0 2px 6px -2px rgba(0, 0, 0, 0.8)
    transition: box-shadow .3s

    &:hover
      box-shadow: 0 6px 6px -4px rgba(0, 0, 0, 0.8)

  &__link
    display: block
    margin-top: 1rem

  .heading
    opacity: .75

  @media (min-width: 768px)
    .column-big
      margin-left: 2rem
